

.attribution { font-size: 11px; text-align: center;}
.attribution a { color: hsl(228, 45%, 44%); }

body { background-color: hsl(0, 0%, 95%);}

p {color: hsla(0, 0%, 100%, 0.75);
font-size: 15px;
font-family: "lexend+deca"; }

